@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

html {
	font-family: 'Inter', sans-serif;
	font-size: 28px;
}

.main-box{
    background-image: url(./images/pattern-curve.svg);
	background-position: center bottom;
	background-size: contain;
	background-repeat: no-repeat;
}

.slide {
	
	display: flex;
	flex-direction: column-reverse;
	
}

.test-slider{
    width: 25rem;
    padding: 2rem;
}
.test-text{
    width: 20rem;
}
.main-text{
    padding-top: 1.3rem;
    padding: 0.8rem;
    margin: 0.7rem;
}
.slide-img {
	width: 13rem;
	margin: 0 auto;
	height: 10rem;
	padding: 40px;
	background-image: url(./images/pattern-bg.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}
.slide-text {
	padding-top: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-image: url(./images/pattern-quotes.svg);
	background-repeat: no-repeat;
	background-size: 80px;
	background-position: top center;
}

.author-text{
    font-size: 0.8rem;
}

.author-text span {
	color: hsl(240, 18%, 77%);
	font-weight: 500;
	display: block;
    

}


.prev,
.next {
	display: inline-block;
	width: 50%;
	height: 100%;
	position: absolute;
	cursor: pointer;
}





.buttons {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 13rem;
    left: 29rem;
	width: 100px;
	height: 45px;
	box-shadow: -20px 12px 20px 0px hsla(240, 18%, 77%, 0.52);
	border-radius: 50px;
	background-color: white;
	overflow: hidden;
}
.prev {
	left: 0;
}
.next {
	right: 0;
}

.next::after,
.prev::after {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto;
}
.next::after {
	background-image: url(./images/icon-next.svg);
}
.prev::after {
	background-image: url(./images/icon-prev.svg);
}

@media only screen and (min-width: 768px) {
	.slide {
		flex-direction: row;
		text-align: left;
	}
    
	
}
    

